{% extends 'accounts/base.html' %}

{% block content %}

      {% if form.errors %}
          <small style="color: red; font-size: 10px;">
              Login Error
          </small>
      {% endif %}

        <form class="mt-8 space-y-6" action="{% url 'signup' %}" method="post">
                <input type="hidden" name="remember" value="true">

            <div class="relative">

              <div class="absolute right-3 mt-4"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
              </div>

              <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Email</label>
                {{ form.email }}

            </div>

            <div class="mt-8 content-center">
              <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">
                Username
              </label>
                {{ form.username }}
            </div>

            <div class="mt-8 content-center">
              <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">
                First Name
              </label>
                {{ form.first_name }}
            </div>

           <div class="mt-8 content-center">
              <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">
                Password
              </label>
                {{ form.password }}
            </div>


           <div class="mt-8 content-center">
              <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">
                Password
              </label>
                {{ form.password2 }}
            </div>
            <div>
              <button type="submit"
                class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600  hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
                Sign Up
              </button>
            </div>
            <p class="flex flex-col items-center justify-center mt-10 text-center text-md text-gray-500">
              <span>Have an account?</span>
              <a href="{% url 'login' %}"
                class="text-indigo-400 hover:text-blue-500 no-underline hover:underline cursor-pointer transition ease-in duration-300">Sign in</a>
            </p>

                {% csrf_token %}
        </form>
{% endblock %}

